Source: wb-common
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: python
Priority: optional
XS-Python-Version: >= 2.7
Build-Depends: python3, dh-python, python-setuptools (>= 0.6b3), python-dev (>= 2.6.6-3), debhelper (>= 7), python3-setuptools
Standards-Version: 3.9.1
X-Python-Version: >= 2.3
X-Python3-Version: >= 3.2

Package: python-wb-common
Architecture: all
Depends: python, ${misc:Depends}, python-six, busybox
Description: Wiren Board Python common library and helpers

Package: python3-wb-common
Architecture: all
Depends: python3, ${misc:Depends}, python3-six, busybox
Description: Wiren Board Python common library and helpers
